<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NewActvity</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
              
                
            </div>
            <div class="col-3">
                <a href="dashboard" class="mr-3">Home</a>
                <a href="logout">Logout</a>
            </div>          
        </div>
        <hr class="bg-dark">
        @model Hobby
        <h3 class="text-center">Create New Hobby</h3>
        <div class="row">
            <div class="col-4">
                <form asp-action="AddHobby" method="post">           
                    <div class="form-group">
                        <span class="d-block text-warning" asp-validation-for="Name"></span>
                        <label for="exampleInputEmail1" asp-for="Name">Title</label>
                        <input type="text" class="form-control" asp-for="Name">
                    </div>
                   
                    <div class="form-group">
                        <span class="d-block text-warning" asp-validation-for="Description"></span>
                        <label for="exampleFormControlTextarea1" asp-for="Description">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="Description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Create Hobby</button>
                </form>

            </div>
        </div>
    </div>
</body>
</html>