<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShowInfo</title>
</head>

<body>
    <div class="container">
        @model Hobby
        <div class="row">
            <div class="col-9">
               
            </div>
            <div class="col-3">
                <a href="/dashboard" class="mr-2">Dashboard</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <hr class="bg-dark">
        <br>


        <div class="row">
            <div class="col-6 ">
                <h3>@Model.Name</h3>
                <span>Description</span>
                <div class="border-dark">
                    <p>@Model.Description</p>
                </div>
            </div>
            
        </div>
        <a href="/editHobby/@Model.HobbyId" class="btn btn-primary" role="button" >Edit Hobby</a>
        
        <div class="row">
            <div class="col-4 ml 5">
                <P>@Model.Name Enthusiasts:</P>
                <div class="border border-dark">
                    <ul>
                        @foreach(var i in Model.HobbyEnthusiast)
                        {
                        <li>@i.EnthusiastUser.FirstName </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4">

                    @if(Model.HobbyEnthusiast.Any(h =>h.UserId== ViewBag.UserId && h.HobbyId == Model.HobbyId))
                    {}
                    else
                    {
                         <a href="/join/@Model.HobbyId" class="btn btn-primary" role="button" >Add to Hobbies</a>
                    }

                   
                
            </div>
        </div>

    </div>


</body>

</html>